@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'); 
  }
  

@font-face {
    font-display: swap; 
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/merriweather-regular.woff2') format('woff2'); 
  }
  

@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Poppins-Regular.woff2') format('woff2'); 
  }
  

@font-face {
    font-display: swap; 
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Lora-Variable.woff2') format('woff2'); 
  }
  

@font-face {
  font-family: 'Ledger';
  src: url('./fonts/Ledger-Regular.woff2') format('woff');
}
  
@font-face {
  font-family: 'Signika';
  src: url('./fonts/Signika-Variable.woff2') format('woff');
}
  